<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Vencimento</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Pagamento</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Categoria</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Pessoa</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <input pInputTextarea type="text">
      </div>
    </div>
  </form>
</div>
